## 通し課題➀ クラス分類

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### 1. データの読み込みとデータ表示

In [2]:
df = pd.read_csv('input/ks-projects-201801.csv')

In [3]:
display(df.head(5))

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [4]:
display(df.describe())
print(df.info())
print(df.isnull().sum())

,ID,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real
count,3.786610e+05,3.786610e+05,3.786610e+05,378661.000000,3.748640e+05,3.786610e+05,3.786610e+05
mean,1.074731e+09,4.908079e+04,9.682979e+03,105.617476,7.036729e+03,9.058924e+03,4.545440e+04
std,6.190862e+08,1.183391e+06,9.563601e+04,907.185035,7.863975e+04,9.097334e+04,1.152950e+06
min,5.971000e+03,1.000000e-02,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,1.000000e-02
25%,5.382635e+08,2.000000e+03,3.000000e+01,2.000000,1.698000e+01,3.100000e+01,2.000000e+03
50%,1.075276e+09,5.200000e+03,6.200000e+02,12.000000,3.947200e+02,6.243300e+02,5.500000e+03
75%,1.610149e+09,1.600000e+04,4.076000e+03,56.000000,3.034090e+03,4.050000e+03,1.550000e+04
max,2.147476e+09,1.000000e+08,2.033899e+07,219382.000000,2.033899e+07,2.033899e+07,1.663614e+08

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
ID                  378661 non-null int64
name                378657 non-null object
category            378661 non-null object
main_category       378661 non-null object
currency            378661 non-null object
deadline            378661 non-null object
goal                378661 non-null float64
launched            378661 non-null object
pledged             378661 non-null float64
state               378661 non-null object
backers             378661 non-null int64
country             378661 non-null object
usd pledged         374864 non-null float64
usd_pledged_real    378661 non-null float64
usd_goal_real       378661 non-null float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB
None
ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

In [5]:
# state列のsuccessfulを1、それ以外を0に割り振る
df['state'] = (df['state'] == 'successful') * 1

# deadlineとlaunchedから新しい特徴量durationを作成
df['deadline'] = pd.to_datetime(df['deadline'])
df['launched'] = pd.to_datetime(df['launched'])
df['duration'] = (df['deadline'] - df['launched']).dt.days
df.head(8)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,duration
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,0,0,GB,0.0,0.0,1533.95,58
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,0,15,US,100.0,2421.0,30000.00,59
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,0,3,US,220.0,220.0,45000.00,44
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,0,1,US,1.0,1.0,5000.00,29
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,0,14,US,1283.0,1283.0,19500.00,55
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.0,2016-02-26 13:38:27,52375.0,1,224,US,52375.0,52375.0,50000.00,34
6,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21,1000.0,2014-12-01 18:30:44,1205.0,1,16,US,1205.0,1205.0,1000.00,19
7,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17,25000.0,2016-02-01 20:05:12,453.0,0,40,US,453.0,453.0,25000.00,44

### 2. データの可視化 (省略)

### 3. データの前処理

In [6]:
# 不要な列の削除
drop_columns_list = ['ID', 'name', 'goal', 'pledged', 'usd pledged', 'deadline', 'launched', 'category']
df.drop(drop_columns_list, axis=1, inplace=True)

# カテゴリ変数を数値に変換する
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
categorical_feature = ['main_category', 'currency', 'country']
df[categorical_feature] = df[categorical_feature].apply(encoder.fit_transform)

In [7]:
display(df.head(8))
display(df.describe())
df.info()

,main_category,currency,state,backers,country,usd_pledged_real,usd_goal_real,duration
0,12,5,0,0,9,0.0,1533.95,58
1,6,13,0,15,22,2421.0,30000.00,59
2,6,13,0,3,22,220.0,45000.00,44
3,10,13,0,1,22,1.0,5000.00,29
4,6,13,0,14,22,1283.0,19500.00,55
5,7,13,1,224,22,52375.0,50000.00,34
6,7,13,1,16,22,1205.0,1000.00,19
7,7,13,0,40,22,453.0,25000.00,44

,main_category,currency,state,backers,country,usd_pledged_real,usd_goal_real,duration
count,378661.000000,378661.000000,378661.000000,378661.000000,378661.000000,3.786610e+05,3.786610e+05,378661.000000
mean,7.513010,11.000578,0.353762,105.617476,18.850764,9.058924e+03,4.545440e+04,33.481122
std,3.904719,3.944783,0.478137,907.185035,6.270406,9.097334e+04,1.152950e+06,65.909172
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000e-02,0.000000
25%,5.000000,13.000000,0.000000,2.000000,22.000000,3.100000e+01,2.000000e+03,29.000000
50%,7.000000,13.000000,0.000000,12.000000,22.000000,6.243300e+02,5.500000e+03,29.000000
75%,10.000000,13.000000,1.000000,56.000000,22.000000,4.050000e+03,1.550000e+04,36.000000
max,14.000000,13.000000,1.000000,219382.000000,22.000000,2.033899e+07,1.663614e+08,16738.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 8 columns):
main_category       378661 non-null int32
currency            378661 non-null int32
state               378661 non-null int32
backers             378661 non-null int64
country             378661 non-null int32
usd_pledged_real    378661 non-null float64
usd_goal_real       378661 non-null float64
duration            378661 non-null int64
dtypes: float64(2), int32(4), int64(2)
memory usage: 17.3 MB

### 4. モデルの評価
#### 4.1 ロジスティック回帰の学習

In [8]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.metrics import log_loss, accuracy_score, confusion_matrix, precision_recall_fscore_support

In [9]:
def train_model(X, y, model_name='log_regr', use_scaler=False):
    '''
    k-交差検証法によるモデル評価
    '''
    n_split = 5

    cross_valid_accuracy = 0
    split_num = 1

    for train_idx, test_idx in KFold(n_splits=n_split, shuffle=True, random_state=2020).split(X, y):
        X_train, y_train = X[train_idx], y[train_idx]
        X_test, y_test = X[test_idx], y[test_idx]

        if use_scaler:
            scaler = StandardScaler()
            X_train = scaler.fit_transform(X_train)
            X_test = scaler.transform(X_test)
        
        if model_name == 'support_vector_machine':
            model = SVC(C=10, kernel='rbf', gamma='scale')
        elif model_name == 'random_forest':
            model = RandomForestClassifier(n_estimators=10, max_depth=2, criterion="gini", min_samples_leaf=2, min_samples_split=2, random_state=2020)
        elif model_name == 'adaboost':
            model = AdaBoostClassifier(DecisionTreeClassifier(max_depth=3, min_samples_leaf=2, min_samples_split=2, random_state=2020, criterion="gini"), n_estimators=10, random_state=1234)
        else:
            model = SGDClassifier(loss='log', penalty='l2', max_iter=10000, fit_intercept=True, random_state=2020, tol=1e-3)
        
        model.fit(X_train, y_train)

        # テストデータに対する予測
        y_pred_test = model.predict(X_test)
        
        # テストデータに対する正答率を計算
        accuracy =  accuracy_score(y_test, y_pred_test)
        print("Fold %s"%split_num)
        print('正答率（Accuracy） = {:.3f}%\n'.format(100 * accuracy))
        
        cross_valid_accuracy += accuracy
        split_num += 1

    # 平均正答率を最終的な汎化誤差値とする
    final_accuracy = cross_valid_accuracy / n_split
    print('Cross Validation Accuracy = {:.3f}%'.format(100 * final_accuracy))

In [10]:
# base_df
X = df.drop('state', axis=1).values
y = df['state'].values
train_model(X, y, model_name='log_regr', use_scaler=False)

Fold 1
正答率（Accuracy） = 96.036%

Fold 2
正答率（Accuracy） = 99.123%

Fold 3
正答率（Accuracy） = 97.471%

Fold 4
正答率（Accuracy） = 99.099%

Fold 5
正答率（Accuracy） = 99.095%

Cross Validation Accuracy = 98.165%

In [11]:
def feature_selection_wrapper(df):
    from sklearn.feature_selection import RFECV
    X = df.drop('state', axis=1).values
    y = df['state'].values
    estimator = SGDClassifier(loss='log', penalty='l2', fit_intercept=True, random_state=2020, tol=1e-3)
    rfecv = RFECV(estimator, cv=5, verbose=2, n_jobs=5)
    rfecv.fit(X, y)

    plt.plot(range(1, len(rfecv.grid_scores_) + 1), rfecv.grid_scores_)
    plt.show()

    # 特徴のランキングを表示
    print('Feature ranking: \n{}'.format(rfecv.ranking_))

    # 削除してもよい特徴の名前を取得する
    remove_idx = ~rfecv.support_
    remove_feature = df.drop('state', axis=1).columns[remove_idx]
    print(remove_feature)
    return df.drop(remove_feature, axis=1)

In [12]:
# selected_df = feature_selection_wrapper(df)
# X = selected_df.drop('state', axis=1).values
# y = selected_df['state'].values
# train_model(X, y, model_name='log_regr', use_scaler=False)

In [13]:
def grid_search(X, y, model, parameters):
    
    from sklearn.model_selection import GridSearchCV
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2020, shuffle=True)
    clf = GridSearchCV(model, parameters, cv=5, verbose=2, n_jobs=5)
    clf.fit(X_train, y_train)
    print(clf.best_params_)
    return clf.best_params_

In [14]:
# # ロジスティック回帰の最終モデル
# parameters = {'penalty':['l1', 'l2'], 'alpha':[0.001, 0.01, 0.1, 1, 10]}
# model = SGDClassifier(loss='log', random_state=2020, fit_intercept=True, tol=1e-3)
# model.fit(X_train, y_train)

In [15]:
def evaluate_model(model, X, y):
    '''
    モデルを評価する
    '''
    # ラベルを予測
    y_pred = model.predict(X)

    # 対数尤度を表示
    print('対数尤度 = {:.3f}'.format(-log_loss(y, y_pred)))

    # 正答率を計算
    accuracy =  accuracy_score(y, y_pred)
    print('正答率（Accuracy） = {:.3f}%'.format(100 * accuracy))

    # Precision, Recall, F1-scoreを計算
    precision, recall, f1_score, _ = precision_recall_fscore_support(y, y_pred)

    # Precision, Recall, F1-scoreを表示
    print('適合率（Precision） = {:.3f}%'.format(100 * precision[1]))
    print('再現率（Recall） = {:.3f}%'.format(100 * recall[1]))
    print('F1値（F1-score） = {:.3f}%'.format(100 * f1_score[1]))

    # 予測値と正解のクロス集計（混同行列）
    conf_mat = confusion_matrix(y, y_pred)
    conf_mat = pd.DataFrame(conf_mat, index=['正解', '正解'], columns=['予測', '予測'])
    display(conf_mat)

NameError: name 'model' is not defined

In [18]:
train_model(X, y, model_name='adaboost', use_scaler=False)

Fold 1
正答率（Accuracy） = 98.637%

Fold 2
正答率（Accuracy） = 98.327%

Fold 3
正答率（Accuracy） = 98.452%

Fold 4
正答率（Accuracy） = 98.439%

Fold 5
正答率（Accuracy） = 98.393%

Cross Validation Accuracy = 98.450%

In [22]:
evaluate_model(model, X_test, y_test)

NameError: name 'X_test' is not defined

In [21]:
model = AdaBoostClassifier(DecisionTreeClassifier(random_state=2020))
parameters = {}
best_params = grid_search(X, y, model=model, parameters=parameters)

Fitting 5 folds for each of 1 candidates, totalling 5 fits
[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=5)]: Done   2 out of   5 | elapsed:   45.1s remaining:  1.1min
[Parallel(n_jobs=5)]: Done   5 out of   5 | elapsed:  2.7min remaining:    0.0s
[Parallel(n_jobs=5)]: Done   5 out of   5 | elapsed:  2.7min finished
{}